services:
  web:
    build: .
    container_name: entre_nos_web
    volumes:
      - .:/app
    ports:
      - "8003:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: entre_nos_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "6432:5432"

volumes:
  postgres_data:
